appdirs==1.4.3
astroid==2.2.5
attrs==19.1.0
autopep8==1.4.4
black==19.3b0
certifi==2019.6.16
chardet==3.0.4
Click==7.0
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.1
lxml==4.4.0
mccabe==0.6.1
numpy==1.17.0
pandas==0.25.0
pycodestyle==2.5.0
pylint==2.3.1
python-dateutil==2.8.0
pytrends==4.6.0
pytz==2019.1
requests==2.22.0
rope==0.14.0
six==1.12.0
tabulate==0.8.3
toml==0.10.0
typed-ast==1.4.0
urllib3==1.25.3
wrapt==1.11.2
yapf==0.28.0
